{
	debug
	email admin@domain
}

# Caddy HTTPS 服务 - NaiveProxy (只使用泛域名证书)
*.domain {
	tls {
		dns cloudflare cloudflareApiToken
	}
	
	route {
		forward_proxy {
			basic_auth naive_user naive_passwd
			hide_ip
			hide_via
			probe_resistance
		}
		
		reverse_proxy https://www.catalog.update.microsoft.com {
			header_up Host {upstream_hostport}
			header_up X-Forwarded-Host {host}
		}
	}
}
