{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "inbounds": [
    {
      "type": "vless",
      "tag": "vless-in",
      "listen": "::",
      "listen_port": 443,
      "users": [
        {
          "uuid": "REALITY_UUID",
          "flow": "xtls-rprx-vision"
        }
      ],
      "tls": {
        "enabled": true,
        "server_name": "REALITY_SERVER_NAME",
        "reality": {
          "enabled": true,
          "handshake": {
            "server": "REALITY_SERVER_NAME",
            "server_port": 443
          },
          "private_key": "REALITY_PRIVATE_KEY",
          "short_id": [
            "REALITY_SHORT_ID"
          ]
        }
      },
      "fallback": {
        "server": "127.0.0.1",
        "server_port": 8443
      }
    },
    {
      "type": "redirect",
      "tag": "redirect-in",
      "listen": "::",
      "listen_port": 80
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct"
    },
    {
      "type": "block",
      "tag": "block"
    }
  ],
  "route": {
    "rules": [
      {
        "inbound": "redirect-in",
        "outbound": "direct"
      },
      {
        "geoip": "private",
        "outbound": "block"
      }
    ],
    "final": "direct"
  }
}
