{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "inbounds": [
    {
      "type": "anytls",
      "tag": "anytls-in",
      "listen": "::",
      "listen_port": 8443,
      "users": [
        {
          "name": "REALITY_UUID",
          "password": "REALITY_UUID"
        }
      ],
      "tls": {
        "enabled": true,
        "server_name": "REALITY_SNI",
        "certificate_path": "/data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/wildcard_.99gtr.com/wildcard_.99gtr.com.crt",
        "key_path": "/data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/wildcard_.99gtr.com/wildcard_.99gtr.com.key"
      }
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "final": "direct"
  }
}
